body {
    main {
        .carrito {
            font-family: $fuenteTitulo;

            h2 {
                font-family: $fuenteTitulo;
                font-size: map-get($size, titulo);
                word-wrap: break-word;
                -webkit-text-stroke: 1px black;
                animation: bounce-top 0.9s both, color-change-2x 2s linear infinite alternate both;
            }

            table {
                thead {
                    tr {
                        th {
                            font-size: 1.8rem;
                        }
                    }
                }

                tbody {
                    tr {
                        td {
                            font-size: 1rem;

                            p {
                                font-size: 1rem;
                            }

                            img {
                                max-width: 300px;
                                max-height: 300px;
                            }
                        }

                    }
                }
            }

            p {
                font-size: 3.5rem;
            }

            button {
                font-size: 3.5rem;
            }
        }
    }
}