body {
    main {
        .contacto {
            font-family: $fuenteTitulo;

            background-image: url(../images/banners/4.jpg);
            background-size: cover;
            background-position: center center;

            .container {
                background: rgba(0, 0, 0, .4);
                background-image: linear-gradient(to top, rgba(0, 0, 0, 0.925) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.925) 100%);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                height: 100%;
                border-radius: 4% / 4%;
            }

            h2 {
                font-family: $fuenteTitulo;
                font-size: map-get($size, titulo);
                word-wrap: break-word;
                -webkit-text-stroke: 1px black;
                animation: bounce-top 0.9s both, color-change-2x 2s linear infinite alternate both;
            }

            h3 {
                font-size: 2.5rem;
            }

            iframe {
                // @include border(3px, black);
                // width: 1300px;
                height: 400px;
            }
        }
    }
}