body {
    min-height: 100vh;
    // background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    // background-image: url(../images/backgrounds/background7.jpg);
    // background-image: linear-gradient(to top, #e6e9f0 0%, #c1c5d5 100%);
    // background-image: url(../images/backgrounds/background4.jpg);
    // background-size: cover;
    // background-position: center center;

    background: rgb(100, 117, 195);
    background: linear-gradient(90deg, rgba(100, 117, 195, 1) 35%, rgba(100, 195, 179, 1) 100%);

    background: rgb(100, 117, 195);
    background: radial-gradient(circle, rgba(100, 117, 195, 1) 35%, rgba(100, 195, 179, 1) 100%);

    background: rgb(100, 117, 195);
    background: radial-gradient(circle, rgba(100, 117, 195, 1) 0%, rgba(100, 195, 179, 1) 100%);

    background: rgb(100, 117, 195);
    background: linear-gradient(0deg, rgba(100, 117, 195, 1) 0%, rgba(100, 195, 179, 1) 100%);

    background: rgb(100, 117, 195);
    background: linear-gradient(90deg, rgba(100, 117, 195, 1) 0%, rgba(100, 195, 179, 1) 100%);

    background: rgb(100, 117, 195);
    background: linear-gradient(90deg, rgba(100, 117, 195, 0.5021358885351015) 0%, rgba(100, 195, 179, 1) 100%);

    background: rgb(100, 117, 195);
    background: linear-gradient(90deg, rgba(100, 117, 195, 0.7010154403558299) 0%, rgba(100, 195, 179, 1) 100%);

    main {
        .banner {
            position: relative;
            height: 100vh;
            width: 100vw;
            overflow: hidden;

            video {
                position: absolute;
                object-fit: cover;
                // top: 0;
                // left: 0;
                width: 100%;
                min-width: 100%;
                max-width: 100%;
                height: 100%;
                min-height: 100%;
                max-height: 100%;
                z-index: 0;
            }

            .overlay {
                position: absolute;
                // top: 0;
                // left: 0;
                z-index: 1;
                background: rgba(0, 0, 0, .4);
                background-image: linear-gradient(to top, rgba(0, 0, 0, 0.925) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.925) 100%);
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;
                height: 100%;
                width: 100%;

                h2 {
                    // position: absolute;
                    // top: 30%;
                    // margin-top: 10%;
                    font-family: $fuenteTitulo;
                    font-size: 7rem;
                    color: map-get($color, azul);
                    color: white;
                    // word-wrap: break-word;
                    // -webkit-text-stroke: 3px map-get($color, azul);
                    // animation: color-change-2x 2s linear infinite alternate both;
                    // mix-blend-mode: overlay;

                    font-family: $fuenteNavegador;
                    // font-weight: bold;
                    text-align: center;
                    font-size: 6rem;
                    margin-top: 10%;

                    letter-spacing: 1.8vw;
                    line-height: 1.2;
                }

                h3 {
                    color: rgb(224, 224, 224);
                    font-family: $fuenteNavegador;
                    font-weight: bold;
                    // text-align: center;
                    font-size: 3rem;
                    margin-top: 20%;
                    margin-left: 5%;
                }

                h4 {
                    color: rgb(224, 224, 224);
                    font-family: $fuenteNavegador;
                    font-weight: bold;
                    font-size: 1.5rem;
                    // margin-top: 10%;
                    margin-left: 5%;
                }
            }
        }

        // Ofertas
        .ofertas {

            h2 {
                font-family: $fuenteTitulo;
                font-size: map-get($size, titulo);
                word-wrap: break-word;
                -webkit-text-stroke: 1px black;
                animation: color-change-2x 2s linear infinite alternate both;
            }

            .carousel {
                .carousel-item {
                    img {
                        // @include border(3px, black);
                        box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 4px 6px rgba(0, 0, 0, 0.45);
                        border-radius: 10px;
                        object-fit: cover;
                        max-height: 600px;
                        animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
                    }
                }
            }
        }

        // Categorías 
        .categorias {
            // background-image: url(../images/banners/6.jpg);
            // background-size: cover;
            // background-position: center center;

            .cardCategoria {

                a {
                    font-family: $fuenteTitulo;
                    font-size: 1.8rem;
                    color: map-get($color, azul);
                    color: whitesmoke;
                    // -webkit-text-stroke: 1px black;
                    text-decoration: none;
                }

                img {
                    // @include border(1px, black);
                    object-fit: cover;
                    box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 4px 6px rgba(0, 0, 0, 0.45);
                    border-radius: 10px;
                    height: 500px;
                    width: 400px;

                    transform: perspective(1px) translateZ(0);
                    transition-duration: 0.3s;
                    transition-property: box-shadow, transform;

                    &:hover,
                    &:focus,
                    &:active {
                        box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 4px 6px rgba(0, 0, 0, 0.45);
                        transform: scale(1.1);
                    }

                }

                hr {
                    height: 3px;
                    border-width: 0;
                    background-color: rgb(73, 73, 73)
                }
            }
        }

        // Productos 
        .productos {
            h2 {
                // @extend main .ofertas h2;
                font-family: $fuenteTitulo;
                font-size: map-get($size, titulo);
                word-wrap: break-word;
                -webkit-text-stroke: 1px black;
                animation: bounce-top 0.9s both, color-change-2x 2s linear infinite alternate both;
            }

            .cardProducto {
                transform: perspective(1px) translateZ(0);
                box-shadow: 0 0 1px rgba(0, 0, 0, 0);
                transition-duration: 0.3s;
                transition-property: box-shadow, transform;

                &:hover,
                &:focus,
                &:active {
                    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
                    transform: scale(1.1);
                }

                img {
                    // @include border(3px, black);
                    // width: 480px;
                    // height: 360px;
                    object-fit: cover;
                    border-radius: 10px;
                    animation: fade-in 2.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
                }

                .card-body {
                    // font-family: $fuenteTitulo;
                    // font-size: 1.3rem;
                    // color: map-get($color, verde);
                    // text-decoration: none;

                    .precio {
                        font-size: 1.7rem;
                    }

                    p {
                        font-weight: 700;
                    }
                }

                .card-footer {
                    a {
                        background-color: map-get($color, azul);
                        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.16), 0 2px 1px rgba(0, 0, 0, 0.45);
                    }
                }
            }
        }
    }

}