body {
    main {
        .login {
            min-height: 50vh;

            font-family: $fuenteTitulo;

            h2 {
                font-family: $fuenteTitulo;
                font-size: map-get($size, titulo);
                word-wrap: break-word;
                -webkit-text-stroke: 1px black;
                animation: bounce-top 0.9s both, color-change-2x 2s linear infinite alternate both;
            }
        }
    }
}