/* MediaQuery */
@media screen and (min-width: 992px) and (max-width: 1195px) {
    body {
        main {
            .categorias {
                .cardCategoria {
                    p {
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 650px) {
    body {
        header {
            .logo {
                h1 {
                    font-size: 6rem;
                }

                img {
                    width: 75px;
                    height: 75px;
                }
            }

            .navegador {
                font-size: 1.5rem;

                .dropdown-menu.show {
                    font-size: 1.5rem;
                }
            }
        }

        main {
            .ofertas h2 {
                font-size: 4rem;
            }

            .productos h2 {
                font-size: 4rem;
            }
        }
    }
}

@media screen and (max-width: 550px) {
    body {
        header {
            .logo {
                h1 {
                    font-size: 5rem;
                }
            }

            .navegador {
                font-size: 1.3rem;

                .dropdown-menu.show {
                    font-size: 1.3rem;
                }
            }
        }

        main {
            .ofertas h2 {
                font-size: 3.5rem;
            }

            .productos h2 {
                font-size: 3.5rem;
            }
        }

        footer {
            .contacto ul li {
                font-size: 0.8rem;
            }
        }
    }
}

@media screen and (max-width: 470px) {
    body {
        header {
            .logo {
                h1 {
                    font-size: 4.5rem;
                }

                img {
                    width: 60px;
                    height: 60px;
                }
            }

            .navegador {
                font-size: 1rem;

                .dropdown-menu {
                    font-size: 1rem;
                }

                .buscador {
                    input {
                        font-size: 1rem;
                    }

                    button {
                        font-size: 1rem;
                    }
                }
            }
        }

        main {
            .ofertas h2 {
                font-size: 3rem;
            }

            .productos h2 {
                font-size: 3rem;
            }
        }
    }
}

@media screen and (max-width: 410px) {
    body {
        header {
            .logo {
                h1 {
                    font-size: 4rem;
                }
            }

            .navegador {
                font-size: 1rem;

                .dropdown-menu {
                    font-size: 1rem;
                }

                .buscador {
                    input {
                        font-size: 1rem;
                    }

                    button {
                        font-size: 1rem;
                    }
                }
            }
        }

        main {
            .ofertas h2 {
                font-size: 2.6rem;
            }

            .productos h2 {
                font-size: 2.6rem;
            }
        }
    }
}

@media screen and (max-width: 370px) {
    body {
        header {
            .logo h1 {
                font-size: 3.3rem;
            }

            .navegador {
                font-size: 0.9rem;

                .dropdown-menu {
                    font-size: 0.9rem;
                }

                .buscador {
                    input {
                        font-size: 0.9rem;
                    }

                    button {
                        font-size: 0.9rem;
                    }
                }
            }
        }

        main {
            .ofertas h2 {
                font-size: 2rem;
            }

            .productos h2 {
                font-size: 2rem;
            }
        }
    }
}

@media screen and (max-width: 350px) {
    body {
        header {
            .navegador {
                font-size: 0.7rem;

                .dropdown-menu {
                    font-size: 0.7rem;
                }

                .buscador {
                    input {
                        font-size: 0.7rem;
                    }

                    button {
                        font-size: 0.7rem;
                    }
                }
            }
        }

        main {
            .categorias {
                .cardCategoria {
                    p {
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 300px) {
    body {
        header {
            .logo {
                h1 {
                    font-size: 3rem;
                }

                img {
                    width: 45px;
                    height: 45px;
                }
            }

            .navegador {
                font-size: 0.5rem;

                .dropdown-menu {
                    font-size: 0.5rem;
                }

                .buscador {
                    input {
                        font-size: 0.5rem;
                    }

                    button {
                        font-size: 0.5rem;
                    }
                }
            }
        }

        main {
            .ofertas h2 {
                font-size: 1.5rem;
            }

            .categorias {
                .cardCategoria {
                    p {
                        font-size: 1.1rem;
                    }
                }
            }

            .productos h2 {
                font-size: 1.5rem;
            }
        }
    }
}