$colorAzul : #6475c3;
$colorVerde : #64c3b3;
$colorRosa : #e274ac;
$colorAmarillo : #e0c645;

$fuenteLogo: 'Acme', sans-serif;
$fuenteNavegador: 'Lato', sans-serif;
$fuenteTitulo: 'Alfa Slab One', cursive;

$sizeLogo: 7rem;
$sizeNavegador: 1.7rem;
$sizeBuscador: 1.3rem;
$sizeTitulo: 5rem;