// Variables
$fuenteLogo: 'Acme', sans-serif;
$fuenteNavegador: 'Lato', sans-serif;
$fuenteTitulo: 'Alfa Slab One', cursive;
// Maps
$color: (
    azul : #6475c3,
    verde : #64c3b3,
    rosa : #e274ac,
    amarillo : #e0c645
);

$size: (
    logo: 6rem,
    navegador: 1.3rem,
    buscador: 1.3rem,
    titulo: 5rem
);

// Mixins
@mixin border($width, $color) {
    border-width: $width;
    border-color: $color;
    border-style: solid;
}